<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your account has been approved, <%= "#{@user.first_name}!" %></h1>
    <p>You will now be able to access Banana!</p>
  </body>
</html>
