<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have a new user, Jason!</h1>
    <p><%= "#{@user.first_name} #{@user.last_name} just joined Banana" %></p>
    <p>Approve their account <a href="https://bananabyjason.herokuapp.com">here</a></p>
  </body>
</html>
