<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style='background-color: #f8fafc; padding: 30px;'>
    <br>
    <br>
    <br>
    <div style='background-color: white; border-radius: 16px; padding: 30px; box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px; width: 50%; margin: 0 auto;'>
      <%= image_tag(attachments['doodle-135.png'].url, style: 'width: 50%; height: auto; margin: 0 auto; display: block;') %>
      <p style='width: 100%; text-align: center; font-family: CircularStd-Bold, Helvetica, sans-serif; font-size: 25px;'>
        Welcome to Banana, <%= "#{@user.first_name}!" %>
      </p>
      <p style='width: 100%; text-align: center; font-family: CircularStd-Bold, Helvetica, sans-serif; font-size: 18px;'>
        Your account hasn't been approved yet, but we'll
        <br>
        send over an email as soon as it's approved
      </p>
    </div>
  </body>
</html>
