<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
  </tr>
  <% @users.all.each do |user| %>
    <tr>
      <td>
        <%= "#{user.first_name} #{user.last_name}" %>
      </td>
      <td>
        <%= user.email %>
      </td>
      <td>
        <% if !user.approved %>
          <%= link_to 'Approve', approve_user_path(user), method: 'patch' %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
