<div class='card flex-column-center-horizontally .flex-column-20px-gap'>
  <%= image_tag('doodle-16.svg', class: 'doodle')%>
  <br>
  <div class='large align-center'>
    There's nothing here yet
  </div>
</div>
