<div class='centered-body'>
  <div class='card flex-column-center-horizontally flex-column-20px-gap'>
    <%= image_tag('doodle-44.svg', class: 'doodle')%>
    <div class='header align-center'>
      Oops! You don't have access to this page
    </div>
    <div class='flex-column-5px-gap'>
      <div class='large align-center'>
        Your account probably hasn't been approved yet
      </div>
      <div class='large align-center'>
        We'll send over an email as soon as it's approved
      </div>
    </div>
    <br>
  </div>
</div>
