<div class='centered-body'>
  <div class='card flex-column-center-horizontally .flex-column-20px-gap'>
    <%= image_tag('doodle-01.svg', class: 'blocked-image')%>
    <br>
    <div class='large align-center'>
      Oops! You do not have access
    </div>
    <br>
    <div class='large align-center'>
      Your account probably hasn't been approved yet
    </div>
  </div>
</div>
