<div class='centered-body'>
  <div class='card flex-column-center-horizontally .flex-column-20px-gap'>
    <%= image_tag('doodle-44.svg', class: 'doodle')%>
    <br>
    <div class='header align-center'>
      Oops! You don't have access to this page
    </div>
    <br>
    <div class='large align-center'>
      Your account probably hasn't been approved yet
    </div>
    <br>
    <div class='large align-center'>
      We'll send over an email as soon as it's ready
    </div>
  </div>
</div>
