/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: CircularStd-Black;
  src: url(CircularStd-Black.otf);
}

@font-face {
  font-family: CircularStd-Bold;
  src: url(CircularStd-Bold.otf);
}

@font-face {
  font-family: CircularStd-Book;
  src: url(CircularStd-Book.otf);
}

@font-face {
  font-family: CircularStd-Medium;
  src: url(CircularStd-Medium.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  width: 100vw;
  height: 60px;
  background-color: white;

  position: fixed;
  top: 0;
  left: 0;

  padding: 0px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navleft {
  display: flex;
  align-items: baseline;
  gap: 30px;
}

.logo {
  font-family: CircularStd-Black;
  font-size: 30px;
  color: #fdb022;
}

.navlinks {
  display: flex;
  gap: 30px;
}

.navlinks a {
  font-family: CircularStd-Bold;
  font-size: 15px;
  color: black;
}

.navlinks .selected {
  color: #fdb022;
}

.body {
  width: 100vw;
  min-height: calc(100vh - 60px);
  background-color: #f8fafc;

  margin-top: 60px;

  padding: 30px 0px;
}

.button-secondary {
  padding: 5px 15px;
  background-color: white;

  border-radius: 100px;
  border: 1px solid #fdb022;

  color: #fdb022;
  font-family: CircularStd-Bold;
  font-size: 15px;

  cursor: pointer;
}

.toast {
  font-family: CircularStd-Bold;
  font-size: 15px;
  color: white;

  padding: 15px 25px;
  border-radius: 8px;

  position: fixed;
  bottom: 30px;
  right: 30px;

  -webkit-animation: toast 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: toast 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  text-transform: uppercase;
}

.notice {
  background: #32d583;
}

.alert {
  background-color: #f97066;
}

/* ANIMATIONS */
/* ANIMATIONS */
/* ANIMATIONS */

@-webkit-keyframes toast {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  10%,
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
}

@keyframes toast {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  10%,
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
}
