/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: CircularStd-Black;
  src: url(CircularStd-Black.otf);
}

@font-face {
  font-family: CircularStd-Bold;
  src: url(CircularStd-Bold.otf);
}

@font-face {
  font-family: CircularStd-Book;
  src: url(CircularStd-Book.otf);
}

@font-face {
  font-family: CircularStd-Medium;
  src: url(CircularStd-Medium.otf);
}

img {
  display: block;
}

::selection {
  background-color: hsl(39, 98%, 80%);
}

input:-webkit-autofill {
  box-shadow: 0 0 0 50px white inset;
  -webkit-box-shadow: 0 0 0 50px white inset;
}

input:-webkit-autofill:focus {
  box-shadow: 0 0 0 50px white inset;
  -webkit-box-shadow: 0 0 0 50px white inset;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  width: 100vw;
  height: 60px;
  background-color: white;

  position: fixed;
  top: 0;
  left: 0;

  padding: 0px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px;
}

.navleft {
  display: flex;
  align-items: baseline;
  gap: 30px;
}

.logo {
  font-family: CircularStd-Black;
  font-size: 30px;
  color: #fdb022;
}

.navlinks {
  display: flex;
  gap: 30px;
}

.navlinks a {
  font-family: CircularStd-Bold;
  font-size: 15px;
  color: black;
}

.navlinks .selected {
  color: #fdb022;
}

.body {
  width: 100vw;
  min-height: calc(100vh - 60px);
  background-color: #f8fafc;

  margin-top: 60px;

  padding: 30px 0px;
}

.button-secondary {
  padding: 5px 15px;
  background-color: white;

  border-radius: 100px;
  border: 1px solid #fdb022;

  color: #fdb022;
  font-family: CircularStd-Bold;
  font-size: 15px;

  cursor: pointer;
}

.button-primary {
  padding: 5px 15px;
  background-color: #fdb022;

  border-radius: 100px;
  border: 1px solid #fdb022;

  color: white;
  font-family: CircularStd-Bold;
  font-size: 15px;

  cursor: pointer;
}

.toast {
  font-family: CircularStd-Bold;
  font-size: 15px;
  color: white;

  padding: 15px 25px;
  border-radius: 8px;

  position: fixed;
  bottom: 30px;
  right: 30px;

  -webkit-animation: toast 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: toast 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  text-transform: uppercase;
}

.notice {
  background: #32d583;
}

.alert {
  background-color: #f97066;
}

.centered-body {
  width: 50vw;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  font-family: CircularStd-Bold;
  font-size: 25px;
}

.xl {
  font-family: CircularStd-Bold;
  font-size: 30px;
}

.large {
  font-family: CircularStd-Bold;
  font-size: 18px;
}

.card {
  background-color: white;
  border-radius: 16px;
  padding: 20px 30px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px;
}

table {
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 5px 0px;
}

th {
  text-transform: uppercase;
  font-size: 11px;
  font-family: CircularStd-Bold;
  color: #a3a3a3;
}

td {
  font-size: 14px;
  font-family: CircularStd-Bold;
}

.centered-cell {
  text-align: center;
}

.split-card {
  display: flex;
  gap: 20px;
}

.split-card div {
  flex-grow: 1;
}

.stock-name {
  font-size: 30px;
  font-family: CircularStd-Bold;
}

.stock-price {
  font-size: 20px;
  font-family: CircularStd-Bold;
}

.flex-column-5px-gap {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.flex-column-10px-gap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flex-column-20px-gap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'] {
  display: block;
  padding: 15px 20px;

  border: none;
  border-radius: 8px;
  background-color: #f8fafc;

  font-family: CircularStd-Bold;
  font-size: 18px;

  border: 1px solid #f8fafc;

  width: 100%;
}

input[type='text']:focus,
input[type='number']:focus,
input[type='email']:focus,
input[type='password']:focus {
  outline: none;
  border: 1px solid #fdb022;
}

label {
  display: block;
  margin-bottom: 5px;

  font-family: CircularStd-Bold;
  font-size: 12px;
  color: #a3a3a3;
  text-transform: uppercase;
}

.gray-capitalized {
  font-family: CircularStd-Bold;
  font-size: 12px;
  color: #a3a3a3;
  text-transform: uppercase;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.error-message {
  color: #f04438;
  text-transform: uppercase;
  font-family: CircularStd-Medium;
  font-size: 10px;
}

.green {
  color: #12b76a;
}

.red {
  color: #f04438;
}

.gray {
  color: #a3a3a3;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.cell-with-centered-image img {
  margin: 0 auto;
}

.flex-column-center-horizontally {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blocked-image {
  width: 50%;
  height: auto;
}

/* ANIMATIONS */
/* ANIMATIONS */
/* ANIMATIONS */

@-webkit-keyframes toast {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  10%,
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
}

@keyframes toast {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  10%,
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
}
